[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/vim-textobj-entire"]
	path = bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "bundle/vim-textobj-lastpat"]
	path = bundle/vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "bundle/vim-zsh-path-completion"]
	path = bundle/vim-zsh-path-completion
	url = https://github.com/fweep/vim-zsh-path-completion
